.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.prompt {
  margin: 2%;
  height: 400px;
  width: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: skyblue;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}
.prompt-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.button-div {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.red {
  color: white;
  background: red;
}
.green {
  color: white;
  background: green;
}
prompt-buttons a {
  text-decoration: none;
  color: white;
}
prompt-buttons a:visited {
  text-decoration: none;
  color: white;
}
prompt-buttons a:hover {
  text-decoration: none;
  color: white;
}


.slide {
  position: absolute;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% { left: 100; }
}

@keyframes slide {
  100% { left: 100; }
}

