.mobile {
  display: none
}
.desktop {
  display: block
}
.fancy {
  color: rgb(1, 187, 125);
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}
.fancy a {
  color: rgb(1, 187, 125);
}
.fancy a:visited {
  color: rgb(1, 187, 125);
}
.App-link {
  color: black;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #FAFAFA;
}
.content-container {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-link {
  display: flex;
  align-items: center;
}
.header-menu-icon {
  margin: 4px;
}
ul {
  list-style: none;
}
li {
  display: inline;
}
nav ul {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.splash {
  padding: 10px;
  height: 84vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: url("https://i.imgur.com/A1PdwrP.png");
  /* background: url("https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_1280.jpg"); */
  background-size: cover;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #FAFAFA;
}
.footer li {
  margin: 4px;
}
.nav-menu-desktop {
  position: absolute;
  height: 100vh;
  left: 0;
  background: #FFFFFF;
  background-attachment: fixed;
}

.login-banner {
  background: #F8F793;
  padding: 8px;
  padding-left: 16%;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.prompt {
  color: white;
  margin: 0 2%;
  height: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("https://cdn.pixabay.com/photo/2015/06/27/16/38/sky-823624_1280.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}
.prompt-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.button-div {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
.red {
  background: white;
}
.green {
  text-align: center;
  background: white;
  padding: 10px;
  border: 1px solid rgb(1, 187, 125);
  box-shadow: 10px 10px 12px grey;
}
.greener {
  background: rgb(1, 187, 125);
}
prompt-buttons a {
  text-decoration: none;
  color: black;
}
a {
  color: black;
}
a:visited {
  color: black;
}
prompt-buttons a:visited {
  text-decoration: none;
  color: black;
}
prompt-buttons a:hover {
  text-decoration: none;
  color: black;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 10px 10px 10px 10px;
}
.menu-icon {
  height: 50px;
  display: block;
}
.well {
  background: white;
  margin: 4px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #E0E0E0;
}
.login-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login-image img {
  width: 260px;
}
.login-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.steps {
  color: gray;
  background: white;
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 2%;
}
.step {
  width: 100%;
}
.middle {
    border: 1px solid black;
}
.highlight {
  background: rgb(214, 214, 214);
  color: black;
}
.left {
  border: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.right {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.signup-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.signup-option {
  margin: 5px;
  width: 100px;
  text-align: center;
}
.signup-option:active {
  background-color: yellow;
}
.welcome {
  text-align: center;
  border-radius: 15px;
  border: 1px solid black;
  background-color: rgba(255,255,255,0.8);
}
.allset {
  text-align: center;
}
.allset-img {
  background-image: url("https://i.imgur.com/if8Ytvc.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.allset-button {
  width: 200px;
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none
  }
  .mobile {
    display: block
  }
}
